/* ===========================
   Base / Desktop Styles
   =========================== */
.about-section {
    padding: 60px 20px;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    place-content: center;
    gap: 40px;
    margin: auto;
    max-width: 70%;
}

.about-image img {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 .2px 3px #E67514;
}

.about-content {
    max-width: 550px;
}

.about-content h2 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 16px;
    color: #a4a4a4;
    line-height: 1.7;
    margin-bottom: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    background-color: #06923E;
    padding: 12px 20px;
    font-size: 18px;
    max-width: 100%;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 20px;

    position: relative;
}

.btn:hover {
    transition: 0.4s;
    background-color: #E67514;
    cursor: pointer;
    box-shadow: #E67514 0 0 10px;
}

.btn i {
    font-size: 24px;
}

/* ===========================
   Mobile View
   =========================== */
@media (max-width: 768px) {
    .about-section {
        padding: 40px 10px;
        margin: 0;

        margin-bottom: 60px;
    }

    .about-container {
        grid-template-columns: 1fr;
        width: 98%;
        max-width: 100%;
        margin: auto;
        padding: 0;
    }

    .about-content {
        max-width: 100%;
    }

    .btn {
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }
}