* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #212121;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #191919;
    padding: 10px;

    margin-bottom: 50px;

    position: sticky;
    z-index: 1000;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

.navbar a img {
    width: 80px;
    object-fit: contain;
    transition: transform 0.4s ease;
}

.navbar a img:hover {
    transform: scale(1.1);
}

.navbar-list {
    display: flex;
    gap: 50px;
}

.navbar-list li {
    list-style: none;
}

.navbar-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.navbar-list-item:hover {
    text-decoration: underline #E67514 3px;
}

.navbar-list-item svg {
    display: none;
}

.account {
    text-decoration: none;
}

.account-register-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    border: none;
    width: 100%;
    line-height: 20px;
}

.account-register-login i {
    font-size: 20px;
    border: #2c2d2c solid 1px;
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.4s ease;
    color: white;
    text-decoration: none;
}

.account-register-login i:hover {
    background-color: #E67514;
    transform: scale(1.1);
}

.btn-myaccount-label {
    text-align: start;
    font-size: 14px;
    font-weight: bold;
    width: 147px;
}

.btn-myaccount-label-sub {
    color: #6c6969;
    font-size: 12px;
    text-align: start;
    width: 147px;
}

/* footer */
.footer {
    margin-top: 50px;
    text-align: center;
}

.footer hr {
    border: none;
    height: 0.5px;
    background-color: rgb(85, 85, 85);
    width: 100%;
    margin: 20px 0 20px 0;
}

.footer span {
    font-size: small;
    padding: 20px;
}

@media (max-width: 768px) {
    .navbar {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 100;
        margin-bottom: 0;

    }

    .navbar img {
        display: none;
    }

    .navbar-list {
        display: flex;
        justify-content: space-around;

        width: 100%;
    }

    .navbar-list-item {
        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 14px;
    }

    .navbar-list-item:hover {
        text-decoration: none;
    }

    .active-item {
        color: #E67514;
    }

    .navbar-list-item svg {
        display: flex;
    }

    .account {
        display: none;
    }

    .footer {
        display: none;
    }
}