.product-detail-border{
display: grid;
    width: 70%;
    grid-template-columns: 60% 40%;
    gap: 70px;
    margin: auto;
}

.product-detail-image{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
}

.product-detail-image-thumbnail{
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    direction: rtl;

    /* Hide scrollbar for Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.product-detail-image-thumbnail img{
    width: 100%;

    border: #E67514 solid 1px;
}

.product-detail-image-main img{
    height: auto;
    width: 100%;
    border: #ff002f solid 1px;
}

.product-detail-info{
    width: 100%;
    /* border: #06923E solid; */
}
.product-detail-info h1{
    color: #E67514;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.product-detail-info i{
    color: #b66c2c;
    margin-bottom: 20px;
}

.product-detail-price{
    font-size: 30px;
    margin-bottom: 30px;
}

.product-detail-info h3{
    margin-bottom: 10px;
    color: #E67514;
}

.product-detail-desc{
    margin-bottom: 25px;
}

.product-detail-list{
    width: 70%;
}

.product-detail-list hr{
    border: none; height:0.5px; background-color: rgb(85, 85, 85);
    width: 100%;
    margin: 20px 0 20px 0;
}

.product-detail-link{
    display: flex;
    gap: 15px;

    font-size: 18px;
    /* font-weight: bold; */
}

.product-detail-link-list{
    display: flex;
    gap: 15px;
}

.product-detail-link-list li{
    list-style: none;
    color: #686868;
}

.product-detail-link-list li a{
    font-size: 16px;
    font-weight: small;
    text-decoration: none;
    color: #cbcbcb;
}

.product-detail-link-list li a:hover{
    text-decoration: underline;
    color: #E67514;
}

.product-detail-social{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.product-detail-social-share{
    font-size: 18px;
    /* font-weight: bold; */
}

.product-detail-social-icon{
    display: flex;
    gap: 15px;
}

.product-detail-social-icon svg {
  width: 30px;
  height: 30px;
  stroke: #ffffff;
  border: #686868 solid 1px;
  border-radius: 8px;
  padding: 5px;
  transition: 0.3s;
}

.product-detail-social-icon svg:hover {
  stroke: #E67514;
  border-color: #E67514;
  cursor: pointer;
}


.product-detail-list .product-detail-qty{
    margin: 30px 0 30px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-detail-list .product-detail-qty input{
    padding: 15px 10px;
    background-color: transparent;
    border: rgb(57, 57, 57) solid 0.5px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;

}

.product-detail-qty input:focus{
    color: #ffffff;
    border: rgb(57, 57, 57) solid 0.5px;
    outline: none;
    
}

.product-detail-list button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    background-color: #06923E;
    padding: 12px 20px;
    font-size: 18px;
    width: 100%;
    border: none;
    border-radius: 12px;
    color: white;
    margin-top: 20px;

}

.product-detail-list button:hover {
    transition: 0.4s;
    background-color: #E67514;
    cursor: pointer;
    box-shadow: #E67514 0 0 10px;
}

.product-detail-list button i{
    font-size: 30px;
    text-align: center;
}

