.product-detail-border {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: auto;
    margin-bottom: 30px;
}

.product-detail-image {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 10px;
    align-items: start;
    /* keeps thumbnails aligned at the top */
}

/* Thumbnail column */
.product-detail-image-thumbnail {
    display: flex;
    flex-direction: column;
    /* stack thumbnails vertically */
    gap: 0.5rem;
    height: 650px;

    overflow-y: auto;
    direction: rtl;
    /* scrollbar-width: none; */
}

.product-detail-image-thumbnail img {
    width: 100%;
    /* fit the 20% column width */
    height: auto;
    /* keep aspect ratio */
    cursor: pointer;
    object-fit: cover;
}

/* Main image column */
.product-detail-image-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
}

.product-detail-image-main img {
    width: 100%;
    height: 100%;
}

.product-detail-info {
    width: 100%;
}

.product-detail-info h1 {
    color: #E67514;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.product-detail-info i {
    color: #b66c2c;
    margin-bottom: 20px;
}

.product-detail-price {
    font-size: 30px;
    margin-bottom: 30px;
}

.product-detail-info h3 {
    margin-bottom: 10px;
    color: #E67514;
}

.product-detail-desc {
    margin-bottom: 25px;
}

.product-detail-list {
    width: 70%;
}

.product-detail-list hr {
    border: none;
    height: 0.5px;
    background-color: rgb(85, 85, 85);
    width: 100%;
    margin: 20px 0 20px 0;
}

.product-detail-link {
    display: flex;
    gap: 15px;

    font-size: 18px;
    /* font-weight: bold; */
}

.product-detail-link-list {
    display: flex;
    gap: 15px;
}

.product-detail-link-list li {
    list-style: none;
    color: #686868;
}

.product-detail-link-list li a {
    font-size: 16px;
    font-weight: small;
    text-decoration: none;
    color: #cbcbcb;
}

.product-detail-link-list li a:hover {
    text-decoration: underline;
    color: #E67514;
}

.product-detail-social {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.product-detail-social-share {
    font-size: 18px;
    /* font-weight: bold; */
}

.product-detail-social-icon {
    display: flex;
    gap: 15px;
}

.product-detail-social-icon svg {
    width: 30px;
    height: 30px;
    stroke: #ffffff;
    border: #686868 solid 1px;
    border-radius: 8px;
    padding: 5px;
    transition: 0.3s;
}

.product-detail-social-icon svg:hover {
    stroke: #E67514;
    border-color: #E67514;
    cursor: pointer;
}


.product-detail-qty {
    margin: 30px 0 30px 0;

    display: flex;
    gap: 20px;
    align-items: center;
}

.product-detail-qty input {
    padding: 15px 10px;
    background-color: transparent;
    border: rgb(57, 57, 57) solid 0.5px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;

}

.product-detail-qty input:focus {
    color: #ffffff;
    border: rgb(57, 57, 57) solid 0.5px;
    outline: none;

}

.btn-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.btn-flex button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    background-color: #06923E;
    padding: 12px 20px;
    font-size: 18px;
    width: 100%;
    border: none;
    border-radius: 12px;
    color: white;
    margin-top: 20px;
}

.btn-flex button:hover {
    transition: 0.4s;
    background-color: #E67514;
    cursor: pointer;
    box-shadow: #E67514 0 0 10px;
}

.product-detail-list button i {
    font-size: 30px;
    text-align: center;
}

.related-product {
    margin: 20px;
    width: 80%;
    margin: auto;
}

.related-product h2 {
    margin-bottom: 8px;
    border-left: 4px solid #E67514;
    padding-left: 10px;
}

.related-product hr {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .product-detail-border {
        display: grid;
        width: 98%;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: auto;

        /* border: #06923E solid 1px; */
    }

    .product-detail-image {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
    }

    .product-detail-image-thumbnail {
        order: 2;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: auto;
        gap: 5px;
        width: 100%;
        height: 100px;

        overflow-x: auto;
        direction: rtl;
        scrollbar-width: auto;
    }

    .product-detail-image-main {
        order: 1;
        height: 100%;
    }

    .product-detail-image-thumbnail img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .product-detail-image-main img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /* =========Start========= */

    .product-detail-info {
        margin: 0;
        padding: 0;
    }

    .product-detail-info h1 {
        margin: 0;
        color: #06923E;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .product-detail-info i {
        color: #E67514;
        margin-bottom: 20px;
        font-size: small;
    }

    .product-detail-price {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .product-detail-info h3 {
        /* display: none; */
        font-size: 16px;
    }

    .product-detail-desc {
        font-size: 14px;
        font-weight: 20px;
        margin-bottom: 15px;
    }

    .product-detail-list {
        display: none;
    }

    .product-detail-qty {
        margin: 20px 0 20px 0;

        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
    }

    .product-detail-qty input {
        padding: 10px 5px;
        background-color: transparent;
        border: rgb(57, 57, 57) solid 0.5px;
        border-radius: 10px;
        color: #ffffff;
        text-align: center;
    }

    .product-detail-qty input:focus {
        color: #ffffff;
        border: rgb(57, 57, 57) solid 0.5px;
        outline: none;

    }

    .btn-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        /* flex-direction: row; */
        gap: 10px;
    }

    .btn-flex button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        background-color: #06923E;
        padding: 8px 10px;
        font-size: 14px;
        width: 100%;
        border: none;
        border-radius: 12px;
        color: white;
        margin-top: 10px;
    }

    .btn-flex button:hover {
        transition: 0.4s;
        background-color: #E67514;
        cursor: pointer;
        box-shadow: #E67514 0 0 10px;
    }

    /* Start Related Product Title */
    .related-product {
        margin: 20px;
        width: 98%;
        margin: auto;
    }

    .related-product h2 {
        font-size: 20px;
        margin-bottom: 8px;
        border-left: 4px solid #E67514;
        padding-left: 10px;
    }

    .related-product hr {
        margin-bottom: 20px;
    }
    /* End Related Product Title */

    /* Product cart */
    .product-card-setting {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 70px;
    }

    .display-product-cart {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        place-items: center;

        width: 98%;
        height: auto;
        margin: auto;
    }

    .product-card {
        max-width: 300px;
        width: 100%;
        padding: 20px;
        /* box-shadow: #828282 0 0 4px; */
        border: #2c2d2c solid 1px;

        border-radius: 10px;

        position: relative;
        object-fit: contain;
    }

    .product-card:hover {
        box-shadow: #E67514 0 0 5px;
        border: none;
    }

    .product-card:hover img {
        transition: 0.4s;
        transform: scale(1.05);
    }

    .product-card img {
        width: 100%;
        height: 300px;
    }

    .price {
        color: #E67514;
        font-size: 22px;
        margin-bottom: 8px;
        margin-top: 20px;
        font-weight: bold;
    }

    .title {
        font-size: 16px;
        color: #D3ECCD;
    }

    /* Button add cart */
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5px;

        background-color: #06923E;
        padding: 7px 10px;
        font-size: 16px;
        width: 100%;
        border: none;
        border-radius: 30px;
        color: white;
        margin-top: 20px;
    }

    .btn:hover {
        transition: 0.4s;
        background-color: #E67514;
        cursor: pointer;
        box-shadow: #E67514 0 0 10px;
    }

    .btn svg {
        width: 20px;
        height: 24px;
    }

    /* Container for the discount tag */
    .discount-container {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .discount-tag {
        position: relative;
        display: inline-block;
        padding: 5px 35px 5px 15px;
        background-color: #d82b3a;
        color: #fff;
        font-weight: bold;
        text-align: center;
        border-radius: 10px;
        transform: rotate(10deg);
    }

    .discount-tag strong {
        font-size: 30px;
        line-height: 1;
        margin-right: 10px;
    }

    .discount-tag span {
        display: block;
        font-size: 10px;
        color: #ffde18;
        transform: rotate(2deg);

        position: absolute;
        bottom: 5px;
        right: 18px;
    }

    .discount-tag em {
        color: #ffffff;
        font-size: 15px;

        position: absolute;
        top: 8px;
        right: 25px;
    }
}