.frm-register-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(0, 0, 0);
    padding: 40px 30px;
    border-radius: 18px;
    text-align: center;
    width: 430px;
    background: transparent;
    box-shadow: 0 0 10px #FD7E14;
}

.container img{
    margin-bottom: 10px;
}

.container h3{
    color: #FD7E14;
}

.container p{
    font-size: 12px;
    color: #a3a19f6e;
    margin-bottom: 20px;
    margin-top: 8px;
}

.name-column{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.form-text{
    font-size: 12px;
    text-align: start;
    position: relative;
}

.form-text label{
    display: block;
    padding: 10px 0px;
}

.form-text input{
    margin-bottom: 10px;
    width: 100%;
    border-radius: 6px;
    /* padding: 10px; */
    padding: 10px 35px 10px 10px;
    border: grey solid 1px;
    transition: 0.3s;
    background-color: #3939396e;
    color:#ffffff;
    font-size: 14px;
}
.form-text input:focus{
    border: #FD7E14 solid 1px;
    box-shadow: 0 0  5px #FD7E14;
    outline: none;
}
.form-text i{
    position: absolute;
    font-size: 20px;
    color:#e0e0e0;
    right: 10px;
    top: 43px;
}

.forgot-pass{
    margin-top: 20px;
    text-align: end;
}
.forgot-pass a{
    font-size: 12px;
    text-decoration: none;
    color: #a3a19f6e;
}
.forgot-pass a:hover{
    text-decoration: underline;
    color: #FD7E14;
}

.btn{
    font-size: 12px;
    width: 100%;
    padding: 13px 0px;
    border-radius: 8px;
    border: none;
    background-color:#000000;
    border: #a3a19f6e solid 0.3px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
}
.btn:hover{
    cursor: pointer;
    box-shadow: #FD7E14 0 0 0.5rem;
    background-color: #FD7E14;
    border: none;
    
}

.link-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.link-social-media img{
    width: 45px;
    height: 45px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.link-social-media img:hover{
    transform: scale(1.1);
}

.link-login-signup{
    font-size: 12px;
    text-align: center;
}
.link-login-signup a{
    text-decoration: none;
    font-weight: bold;
    color: #FD7E14;
}
.link-login-signup a:hover{
    text-decoration: underline;
}
/* =======Register Form======== */
.signup-title{
    margin-bottom: 20px;
}
