* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #212121;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #191919;
    padding: 10px;

    margin-bottom: 50px;
}

.navbar img {
    width: 80px;
    object-fit: contain;
}

.navbar .navbar-list a {
    text-align: center;
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
    font-size: 18px;
}

.navbar .navbar-list a:hover{
    text-decoration: underline #E67514 4px;
}

/* Product cart */
.product-card-setting{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-product-cart {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    place-items: center;

    width: 70%;
    height: auto;

}

.product-card {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    /* box-shadow: #828282 0 0 4px; */
    border: #2c2d2c solid 1px;

    border-radius: 10px;

    position: relative;
    object-fit: contain;
}


.product-card:hover img {
    transition: 0.4s;
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: 300px;
}

.price {
    color: #E67514;
    font-size: 22px;
    margin-bottom: 8px;
    margin-top: 20px;
    font-weight: bold;
}

.title {
    font-size: 18px;
    color: #D3ECCD;
}

/* Button add cart */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    background-color: #06923E;
    padding: 12px 20px;
    font-size: 18px;
    width: 100%;
    border: none;
    border-radius: 30px;
    color: white;
    margin-top: 20px;
}

.btn:hover {
    transition: 0.4s;
    background-color: #E67514;
    cursor: pointer;
    box-shadow: #E67514 0 0 10px;
}

/* Container for the discount tag */
.discount-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.discount-tag {
    position: relative;
    display: inline-block;
    padding: 5px 35px 5px 15px;
    background-color: #d82b3a;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    transform: rotate(10deg);
}

.discount-tag strong {
    font-size: 30px;
    line-height: 1;
    margin-right: 10px;
}

.discount-tag span {
    display: block;
    font-size: 10px;
    color: #ffde18;
    transform: rotate(2deg);

    position: absolute;
    bottom: 5px;
    right: 18px;
}

.discount-tag em {
    color: #ffffff;
    font-size: 15px;


    position: absolute;
    top: 8px;
    right: 25px;
}

/* footer */
.footer hr{
    margin: 20px 0 20px 0;
}
.footer span{
    font-size: small;
    padding: 20px;
}